.intro{
  background-color: #232354;
  padding: 10rem 0rem;
}

.myself {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.self {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
  /* border: 1px solid black; */
  border-radius: .7rem;
}

.self img {
  width: 30rem;
  border-radius: .5rem;
}

.self p {
  padding-top: 3rem;
  width: 25rem;
  border-radius: .5rem;
  color: white;
}

.Channel{
   text-decoration: none;
   color: white;
   border: 1px solid white;
   padding: .6rem 1rem;
   border-radius: .2rem;
}

.Channel:hover{
  background-color: white;
  color: black;
}

@media screen and (max-width:1300px) {
  .self {
    gap: 4rem;
    border-radius: .7rem;
    padding: 3rem 2rem;
    display: block;
    padding: 3rem 5rem;
  }
}

@media screen and (max-width:1100px) {

  .self p {
    width: 29rem;
  }
}

@media screen and (max-width:800px) {
  .self {
    padding: 3rem 3rem;
  }

  .self p {
    width: 26rem;
  }
}

@media screen and (max-width:750px) {
  .self img {
    width: 25rem;
    border-radius: .5rem;
  }

  .self p {
    padding-top: 3rem;
    width: 21rem;
    border-radius: .5rem;
  }
}

@media screen and (max-width:700px) {
  .self img {
    width: 21rem;
    border-radius: .5rem;
  }

  .self p {
    padding-top: 3rem;
    width: 21rem;
    border-radius: .5rem;
  }
}

@media screen and (max-width:400px) {
  .self p {
    padding-top: 3rem;
    width: 15.5rem;
    border-radius: .5rem;
    font-size: 1rem;
  }

  .self {
    padding: 2rem 1rem;
  }

  .self img {
    width: 16rem;
  }
}