.Bottom{
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Bottom .Bottomimg{
    margin: auto;
}

.Bottom .form_data{
    width: 22rem;
    margin: 25px auto;
    padding: 35px 30px;
    box-shadow: 0 0 15px -10px #232354;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Bottom .Bottomimg img{
    width:25rem;
}

@media screen and (max-width: 1024px) and (min-width:400px) {
    .Bottom .Bottomimg{
        display: none;
    }
}

@media screen and  (max-width:400px) {
    .Bottom{
        display: block;
        gap: 2rem;
    }
    .Bottom .Bottomimg img{
        width:17rem;
    }
    .form_data{
        width: 17rem;
    }
}


/* css forgot password */

.forgot{
    margin-top: 4rem;
}

.forgot .form_data{
    width: 25rem;
    margin: 25px auto;
    padding: 55px 40px;
    box-shadow: 0 0 15px -10px #232354;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and  (max-width:400px) {
    .forgot{
        display: block;
        gap: 2rem;
        margin-top: 2rem;
    }
    .forgot .form_data{
        width: 17rem;
    }
    .forgot h1{
        font-size: 1rem;
    }
}